@model IEnumerable<AspNet.TODO.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h1>TO-DO lista</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>            
            <th></th>
        </tr>
    </thead>
    
@foreach (var item in Model) {
        <partial name="_ItemRowPartial" model="item" />       
    }
</table>

    

